extends layout

block content
	h1 iTunes Web
	p Colin's iTunes Library

	table(class="main")
		tr
			th
			th Title:
			th Artist:
			th Album:
			th Genre:

		for track in trackList
			tr(data-url="#{track.location}")
				td
					img(src="/images/play.svg" alt="play" width="30" height="30")
				td= track.name
				td= track.artist
				td= track.album
				td= track.genre

	br
	br
	p Copyright &#169; Colin Heinzmann